<div ng-init="snapIndex=0">
  <breadcrumb></breadcrumb>
  <div 
    class="component nested ng-isolate-scope" 
    snapscroll="" 
    snap-index="snapIndex" 
    after-snap="beforeCallback(snapIndex)" 
    snap-duration="300"
    >
    <div>
      <bread-step></bread-step>
    </div>
    <div>
      <main-ingredient-step></main-ingredient-step>
    </div>
    <div>
      <extra-ingredients-step></extra-ingredient-step>
    </div>
    <div>
      <sauce-step></sauce-step>
    </div>
    <div>
      <payment-step></payment-step>
    </div>
  </div>
</div>