// utilities

@mixin circleBk($color){
  &:before {
    background: $color;
    border-radius: 50%; 
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}
@mixin wholeBk($color){
  &:before {
    content:'';
    background: $color;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
  }
}


//-- Media queries 
@mixin mq($breakpoint,$m:max) {
 //-Don't forget to set your width variable values. 
 $mq-xs: "(#{$m}-width: #{$screen-xs})"; 
 $mq-sm: "(#{$m}-width: #{$screen-sm})"; 
 $mq-md: "(#{$m}-width: #{$screen-md})";  
 $mq-lg: "(#{$m}-width: #{$screen-lg})"; 

  @if $breakpoint == xs { 
    @media #{$mq-xs} { @content; } 
  } 
  @else if $breakpoint == sm { 
    @media #{$mq-sm} { @content; } 
  } 
  @else if $breakpoint == md { 
    @media #{$mq-md} { @content; } 
  } 
  @else if $breakpoint == lg { 
    @media #{$mq-lg} { @content; } 
  } 
} 