
//Tipography;
$font-titles: 'Poiret One', cursive;
$font-body: 'Playfair Display', serif;


//colors
$black:               #333;
$white:               #fff;
$color-primary:       rgb(255,218,68);
$color-secondary:     rgb(63,51,3);
$color-terciary:          ;

//content
$border-state:       solid;
$border-width:       3px;
$border-style:       $border-state $border-width $black;
$header-height:      150px;
$footer-height:      26px;

//grid
$screen-xs:   320px;
$screen-sm:   600px;
$screen-md:   768px;
$screen-lg:   960px;
$screen-xlg:  1280px;
