
//Tipography;
$font-titles: 'Poiret One', cursive;
$font-body: 'Playfair Display', serif;


//colors
$black:               #333;
$white:               #fff;
$color-primary:       rgb(255,218,68);
$color-secondary:     rgb(63,51,3);
$color-terciary:          ;
$bklayout:            rgba(0,0,0,.2);
$wtlayout:            rgba(255,255,255,0.5);

//content
$border-state:       dashed;
$border-width:       3px;
$border-style:       $border-state $border-width $white;
$border-radius-full: 50%;
$header-height:      150px;
$footer-height:      26px;
$stepSizeSm: 8rem;
$stepSizeXs: 7rem;

//grid
$screen-xs:   320px;
$screen-sm:   600px;
$screen-md:   768px;
$screen-lg:   960px;
$screen-xlg:  1280px;

