<div class="summary slide">
  <div class="row">
    <div class="one column">
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Whole Bread</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Pork</td>
            <td>1</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="six columns">
        <label for="nameInput">Your Name:</label>
        <input class="u-full-width" type="text" placeholder="" id="nameInput">
      </div>
      <div class="six columns">
        <label for="emailInput">Your email</label>
        <input class="u-full-width" type="email" placeholder="" id="emailInput">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <label for="addressInput">Your Address:</label>
        <input class="u-full-width" type="text" placeholder="" id="addressInput">
      </div>
      <div class="six columns">
        <label for="emailInput">Your email</label>
        <input class="u-full-width" type="email" placeholder="" id="emailInput">
      </div>
    </div>
    <input class="button-primary" type="submit" value="Submit">
  </form>
</div>
