<div class="summary container">
  <div class="summary-wrapper">
    <div class="order-table">
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Description</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in $ctrl.orderList">
            <td>{{item.name}}</td>
            <td>{{item.price | currency: '€'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form">
      <form>
        <div class="row">
          <div class="six columns form-group">
            <label for="nameInput">Your Name:</label>
            <input class="u-full-width" type="text" placeholder="" id="nameInput">
          </div>
          <div class="six columns form-group">
            <label for="emailInput">Your email:</label>
            <input class="u-full-width" type="email" placeholder="" id="emailInput">
          </div>
        </div>
        <div class="row">
          <div class="six columns form-group">
            <label for="addressInput">Your Address:</label>
            <input class="u-full-width" type="text" placeholder="" id="addressInput">
          </div>
          <div class="six columns form-group">
            <label for="emailInput">Your email:</label>
            <input class="u-full-width" type="email" placeholder="" id="emailInput">
          </div>
        </div>
        <input class="button-primary" type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
