breadcrumb {
  background: $wtlayout;
  display: flex;
  justify-content:center;
  z-index: 2;
  @include Hcenter();
  .breadcrumb-selection{
    display: flex;
    margin: 2rem 0;
    .step{
      @extend %text-center;
      margin: 0 .5rem;
      opacity: .4;
      height: $stepSizeXs;
      width: $stepSizeXs;
      @include mq(sm,min) {
        margin: 0 2rem;
        height: $stepSizeSm;
        width: $stepSizeSm;
      }
      &.active{opacity: 1;}
    }
    figure{
      height: 100%;
      margin-bottom: 0;
      position: relative;
      @include circleBk($bklayout);
    }
    div{
      width: 100%; 
      height:100%;
      border-radius: 50%; 
    }
    .title{
      color:white;
      text-transform: capitalize;
      font-family: $font-titles;
      font-size: 1.6rem;
      font-weight: bold;
      height:2.9rem;
      @include HVcenter();
      @include mq(sm,min) {
        font-size: 2.5rem;
        height:3.9rem;
      }
    }  
  }
}