.header{
  border: $border-style;
  background: $white;
  // height: $header-height;

  nav{
    ul{
      display: flex;
      justify-content: flex-start;
      li{
        margin: 5px;
        border: $border-style;
        >a{
          display: block;
          padding: 9px;
          @extend %text-center;
        }
      }
    }
  }
}