header.header{
  background: url('../app/assets/images/wood2.jpg');
  height: $header-height;
  color: $white;
  font-family: $font-titles;
  > div {
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:100%;
    width: 100%;
    > div { padding: 0 2rem;}
  }
  .title{
    color: white;
    display: flex;
    font-weight: 100;
    flex-flow: row wrap;      
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 2.5rem;
    i{margin-right: 20px;
      @extend .fi;
      @extend .flaticon-cheeseburger;
      &:before{
        font-size: 7rem;
      }
    }
  }
  .header-menu{
    flex-grow: 1;
    width: auto;
    ul,li{margin-bottom: 0;}
    a{
      color:white;
      line-height: 1rem;
      border-bottom: dashed .2rem white;
    }
  }
}


