.header{
  border: $border-style;
  background: $white;
  > div{
    display: flex;
    flex-flow:wrap column;
    align-items: center;
    margin:auto;
  }
  // height: $header-height;
  h1{
    i{
      @extend .fi;
      @extend .flaticon-cheeseburger;
      &:before{color: $color-secondary;font-size: 4rem;}
    }
  }
}