ingredients-selector {
  color: $white;
  font-family: $font-body;
  padding: 2rem;
  position: relative;
  z-index:2;
  .ingredients-container {
    align-content: stretch;
    display: flex;
    flex: wrap row;
    justify-content: center;
    @include mq(sm, min) {
      flex-wrap: nowrap;
    }
  }
  .ingredient {
    align-self: auto;
    border: $border-width dashed transparent;
    cursor: pointer;
    font-family: $font-titles;
    padding: 10px;
    text-align: center;
    flex: 0 1 40%;
    @include mq(sm, min) {flex: 0 1 auto;}
    .ingredient--image {
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      max-width: 75%;
      @include mq(sm, min) {max-width: 100%;}
    }
    p {
      margin: 0;
    }
    &.selected {
      border: $border-width dashed $white;
    }
  }
}