
.ingredients-selector {
  color: $white;
  font-family: $font-body;
  padding: 2rem;
  position: relative;
  z-index:2;
  .ingredients-container {
    align-content: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @include mq(sm, min){
      flex-wrap: nowrap;
      margin: 5rem 0;
    }
    .ingredient {
      flex: 0 1 40%;
      @include mq(sm, min){
        flex: 0 1 auto;
      }
      align-self: auto;
      border: $border-width dashed transparent;
      cursor: pointer;
      font-family: $font-titles;
      padding: 10px;
      text-align: center;
      .ingredient--image {
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        max-width: 75%;
        @include mq(sm, min){
        max-width: 100%;
        }
      }
      p {
        margin: 0;
      }
      &.selected {
        border: $border-width dashed $white;
      }
    }
  }
}
.slide{
   
  }
.nested > div{
  @extend %text-center;
  height: 100%;
  display: flex;
  flex-flow: wrap column;
  justify-content:flex-end;
  @include mq(sm, min){
    justify-content:center;
  }
  align-items:center; 
  position: relative;
  background-size: cover;
  &:nth-child(1){
    background-image: url(../app/assets/images/bread2.jpg);  
  }
  &:nth-child(2){
    background-image: url(../app/assets/images/beef.jpg);  
  }
  &:nth-child(3){
    background-image: url(../app/assets/images/lettuce.jpg);  
  }
  &:nth-child(4){
    background-image: url(../app/assets/images/guacamole.jpg);  
  }
  &:before{
    content:'';
    background: rgba(0,0,0,.2);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
  }
}
