
.ingredients-selector {
  position: relative;
  z-index:2;
  padding: 2rem;
  color: $white;
  font-family: $font-body;
  .ingredients-container {
    margin: 5rem 0;
    display: flex;
    .ingredient {
      margin: 0 3rem;
      text-align: center;
      padding: 10px;
      font-family: $font-titles;
      cursor: pointer;
      border: $border-width dashed transparent;
      .ingredient--image {
        border-radius: 50%;
        display: block;
        margin: 0 auto;
      }
      p {
        margin: 0;
      }
      &.selected {
        border: $border-width dashed $white;
      }
    }
  }
}
.nested > div{
  position: relative;
  &:before{
    content:'';
    background: rgba(0,0,0,.2);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
  }
  &:nth-child(1){
    background: url(../app/assets/images/bread2.jpg);
    background-size: 100%;
  }
  &:nth-child(2){
    background: url(../app/assets/images/beef.jpg);
    background-size: 100%;
  }
  &:nth-child(3){
    background: url(../app/assets/images/lettuce.jpg);
    background-size: 100%;
  }
}
