.main {
display: flex;
position: relative;
justify-content:center;
align-items: center;
@extend %text-center;
 height: calc(100vh - #{$header-height});
 background: url("../app/assets/images/hipster.jpg") no-repeat 50% 50%/cover;
 i{margin-right: 20px;
  @extend .fi;
  @extend .flaticon-cheeseburger;
  &:before{
    color:$white;
    font-size: 15rem;
    @include mq(sm,min){
      font-size: 30rem;  
    }
    
  }
}
a{
  color:white;
  font-family: $font-titles;
  font-size: 5rem;
  line-height: 1.2;
  @include mq(sm,min){
    font-size: 10rem;  
  }
  padding-bottom: 1rem;
  border-bottom: dashed 3px trnsparent;
  &:hover{
    border-bottom: dashed 3px;  
  }
}
&:before {
    background: rgba(0,0,0,.5);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    }
}