.nested{
  height: calc(100vh  - #{$header-height});
  overflow-y: scroll;
  .slide{
    @extend %text-center;
    height: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content:center;
    align-items:center;
  }
}
