*{box-sizing: border-box;}

%text-center{text-align: center;}
%HVcenter{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  margin: auto;
}
%Hcenter{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
%Vcenter{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}