*{box-sizing: border-box;}

%text-center{text-align: center;}
.header{
  border: $border-style;
  background: $white;
  height: $header-height;
}
nav{
  ul{
    display: flex;
    justify-content: flex-start;
    li{
      margin: 5px;
      border: $border-style;
      >a{
        display: block;
        padding: 9px;
        @extend %text-center;
      }
    }
  }
}

.nested{
  border: $border-style;
  height: calc(100vh - #{$footer-height} - #{$header-height});
  overflow-y: scroll;
  div{
    @extend %text-center;
    height: 100%;
  }
}


.footer{
  height: $footer-height;
  color: white;
  background: black;
  }
