<div class="slide ingredients-selector u-full-width">
  <div class="row">
    <div class="twelve column">
      <h3 class="">{{$ctrl.label}}</h3>
    </div>
  </div>
  <div class="row ingredients-container">
    <div class="ingredient" 
         ng-class="{selected: item.active}" 
         ng-click="$ctrl.toggleItem(item)" 
         ng-repeat="item in $ctrl.ingredients">
      <img class="ingredient--image" 
           ng-src="{{item.image}}" 
           alt="{{item.name}}" />
      <p class="ingredient--name">{{item.name}}</p>
      <p class="ingredient--price">{{item.price | currency:'€'}}</p>
    </div>
  </div>
</div>
